@font-face {
  font-family: "Montserrat";
  src: url("../scss/fonts.scss") format('truetype')
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../scss/fonts.scss") format('truetype')
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../scss/fonts.scss") format('truetype')
}
@font-face {
  font-family: "Roboto";
  src: url("../scss/fonts.scss") format('truetype')
}