$blue: #3771C3;
$blue-light: #DDEAF9;
$blue-light-1: #EEF5FC;
$blue-light-2: #BCD6F3;
$blue-light-3: #ACCCF0;
$blue-light-4: #CDE0F7;
$dark-blue: #3167B1;

$red: #E53935;
$grey: #44464C;
$light-grey: #F5F5F5;
$light-grey1: #FAFAFA;
$black: #000;
$white: white;
$white1: #F8F8F8;



$blue-dark: #132B4A;
$blue1: #3167B1;
$dark-blue:#010221;
$black:#000012;
// $black:#080809;
$white:#ffff;
$dark-grey:#FFFFFF1A;
$yellow:#D48806;
$light-grey:#F5F5F5;
$orange:#D46B08;
$light-brown:#D4880633;
$light-green:#73D13D;
$light-black:#FFFFFF0D;
$dark-green:#36CFC933;
$teal-blue:#4096FF33;
$medium-brown:#FF7A4533;
$pale-grey:#FFFFFF4D;
$pale-grey2:#FFFFFF33;
$pale-grey3:#FFFFFF26;
$pale-white:#C4CDD5;







$root-font-size: 16px;
$fs: 40;
$line-height: 38;
$fw: 800;
$height: 700;





$root-font-size: 16px;
$fs: 40;
$line-height: 38;
$fw: 800;
$height: 700;