@import "../../Components/assets/scss/abstracts";

.main {
  height: 100vh;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 500px;
  display: grid;
  background-color: snow;

  .loginPart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    margin-bottom: 80px;

    form {
      width: 100%;
      max-width: 400px; 
      label {
        font-family: Open Sans;
        font-size: 14px; 
        font-weight: 400; 
        color: black;
        margin-bottom: 10px;
        display: block; 
      }
    }
    .logo{
      width: 100px;
      height: 80px;
      margin-top: -90px;
      margin-left: 90px;
    }
    .volunteerTxt {
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 700;
      line-height: 37px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #0140ba;
      margin-bottom: 20px; // Ensure spacing between title and input
    }

    .loginTxt {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 700;
      opacity: 0.9;
      color: black;
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .txt{
      font-weight: 100;
      font-family: Open Sans;
      color: gray;
      display: flex;
      justify-content: center;
    }

    .divisions {
      margin-top: 20px;
    }
    .division {
      justify-content: flex-end;
      margin-top: -20px;
      display: flex;
      cursor: pointer;

    }
    .division span {
      color: blue ; 
      
    }
    .divisions span {
      color: black ; 
      
    }
   
    .input {
      width: 100%; 
      padding: 0px; 
      padding-left: 8px;
      font-weight: 500;
      height: 44px;
      margin-bottom: 10px; 
      border-radius: 8px;
    }
    .inputText {
     font-family: Open Sans;
     font-weight: 500;
     font-size: 14px;
      text-align: center; 
      color: white;
      margin-left: 0; 
      padding-left: 0; 
    }
    input[type="checkbox"] {
        color: #0140ba;
    }
    .label{
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
    }
    .signUp {
      cursor: pointer;
      color: rgb(0, 149, 246, 1);
      font-weight: 600;
    }

    .signUpSection {
      margin-top: 20px;
      text-align: center;
    }
  }

  .imgSection {
    max-width: 100% !important;
    position: relative;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;

    .imgSection {
      display: none;
    }
  }
}
