.pro-body {
  width: 100%;
  height: 100%;
  //   border: 1px solid #e4e7ec;
  border-radius: 8px;
}
.header-name {
  padding: 12px;
}
.pro-header {
  display: flex;
  width: 100%;
  height: 77px;
  border: 1px solid #e4e7ec;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 8px 8px 0px 0px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 12px;
}
.import-button {
  width: 150px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  padding: 10px 16px 10px 16px;
  gap: 6px;
  color: #3f4d54;
  background-color: white;
  display: flex;
  font-family: Open Sans;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.export-button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  padding: 10px 16px 10px 16px;
  gap: 6px;
  color: #3f4d54;
  background-color: white;
  display: flex;
  font-family: Open Sans;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.add-button {
  width: 150px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  padding: 10px 16px 10px 16px;
  gap: 6px;
  background-color: #004eff;
  color: white;
  display: flex;
  font-family: Open Sans;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.pro-formfoot {
  border: 1px solid #c0c0c0;
  display: flex;
  height: 44px;
  justify-content: space-between;
  bottom: 0px;
  align-items: center;
  padding: 12px;
}
.pro-previous {
  width: 111px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
}
.pro-next {
  width: 111px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
}
table {
  thead {
    tr {
      th {
        position: sticky;
        top: 0;
        z-index: 2;
        text-align: center;
        text-transform: none;
        font-family: Open Sans;
        font-weight: 600;
      }
    }
  }
}

.modal-overlay-pro,
.modal-overlay-pro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: flex-end;
}

.modal-content-pro,
.modal-content-pro {
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  height: 100%;
}

.new-header {
  overflow: hidden;
  padding: 8px;
  background-color: #007bff;
  color: #f1f1f1;
  height: 30px;
  display: flex;
  align-items: center;
}

.approval-page ::-webkit-scrollbar {
  display: none;
}

.approval-page {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.form-act-pro {
  display: flex;
  justify-content: flex-end;
  grid-column: span 2;
  margin-top: 1.25rem;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  z-index: 0;
}
.modal-header-pro {
  position: sticky;
  // top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.9375rem;
  z-index: 1;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

.form-groups-pro {
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 0.875rem;
  color: #344054;
  label {
    display: block;
    font-family: Open Sans;
    font-weight: 600;
    // margin-bottom: 16px;
    font-size: 0.875rem;
    color: #344054;
  }
}

.modal-body {
  width: 100%;
  height: 100%;
}
.form-pro {
  gap: 10px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  height: 100%;
}
.close-modal {
  color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #28a745; /* green color */
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .toggle-label {
    vertical-align: middle;
    font-weight: bold;
  }
  
