// // .header {
// //   background-color: #ffffff;
// //   border-bottom: 1px solid #e0e0e0;
// //   height: 60px;
// //   display: flex;
// //   align-items: center;
// //   padding: 0 20px;
// //   position: fixed;
// //   width: 100%;
// //   top: 0;
// //   z-index: 1000;

// //   .header-content {
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     width: 100%;
// //   }

// //   .header-title {
// //     font-size: 20px;
// //     font-weight: 600;
// //     color: #0d1c2e;
// //     text-transform: none;
// //   }
// //   .logo-img {
// //     position: absolute;
// //     left: 32px;
// //     top: -25px;
// //     width: 145px;
// //     height: 82px;
// //   }

// //   .header-right {
// //     display: flex;
// //     align-items: center;
// //     position: absolute;
// //     right: 50px;

// //     .notification-icon {
// //       font-size: 18px;
// //       color: #333;
// //       margin-right: 20px;
// //       cursor: pointer;
// //     }

// //     .user-info {
// //       display: flex;
// //       align-items: center;

// //       .user-avatar {
// //         width: 32px;
// //         height: 32px;
// //         border-radius: 50%;
// //         overflow: hidden;
// //         margin-right: 8px;

// //         img {
// //           width: 100%;
// //           height: 100%;
// //           object-fit: cover;
// //         }
// //       }

// //       .username {
// //         font-size: 16px;
// //         color: #333;
// //         font-weight: 400;
// //       }
// //     }
// //   }
// // }


// // .header-right .user-info {
// //   display: flex;
// //   align-items: center;
// // }

// // .header-right .user-avatar {
// //   margin-right: 10px; 
// // }

// // // .username {
// // //   font-size: 14px; 
// // //   color: #333; 
// // //   font-weight: 400;    
// // // }


// // .header {
// //   background-color: white;
// //   border-bottom: 1px solid #e0e0e0;
// //   height: 70px;
// //   display: flex;
// //   align-items: center;
// //   padding: 0 20px;
// //   width: 100%;
 

// //   .header-content {
// //     display: flex;
// //     align-items: center;
// //     justify-content: space-between;
// //     width: 100%;
// //   }

// //   .header-title {
// //     font-size: 24px;
// //     font-weight: 600;
// //     color: #0d1c2e;
// //     margin-top: 10px;
// //     text-transform: none;
   
// //   }
// //   .logo-img {
// //     // position: relative;
// //      //left: 5px;
// //     // top: -20px;
// //     width: 135px;
// //     margin-bottom: 25px;
// //     //height: 75px;
// //   }

// //   .header-right {
// //     display: flex;
// //     align-items: center;
// //    position: absolute;
// //     right: 20px;

// //     .notification-icon {
// //       font-size: 18px;
// //       color: #333;
// //       margin-right: 20px;
// //       cursor: pointer;
// //     }

// //     .user-info {
// //       display: flex;
// //       align-items: center;
// //       //gap: 12px;

// //       .user-avatar {
// //         width: 32px;
// //         height: 32px;
// //         border-radius: 200px;
// //         background: #F2F4F7;
// //         display: flex;
// //         align-items: center;
// //         justify-content: center;

// //         svg {
// //           width: 20px;
// //           height: 20px;
// //           color: #475467;
// //         }
// //       }

// //       .user-details {
// //         .username {
// //           font-family: 'Open Sans';
// //           font-style: normal;
// //           font-weight: 400;
// //           font-size: 14px;
// //           line-height: 20px;
// //           color: #3D3D3D;
// //         }
// // }
// //     }
// //   }
// // }


// // .header-right .user-info {
// //   display: flex;
// //   align-items: center;
// // }

// // .header-right .user-avatar {
// //   margin-right: 10px; 
// // }

// // // .username {
// // //   font-size: 14px; 
// // //   color: #333; 
// // //   font-weight: 400;    
// // // }


// .header {
//   background-color: #ffffff;
//   border-bottom: 1px solid #e0e0e0;
//   height: 60px;
//   display: flex;
//   align-items: center;
//   padding: 0 20px;
//   position: fixed;
//   width: 100%;
//   top: 0;
//   z-index: 1000;

//   .header-content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//   }

//   .header-title {
//     font-size: 20px;
//     font-weight: 600;
//     color: #0d1c2e;
//     text-transform: none;
//   }
//   .logo-img {
//     position: absolute;
//     left: 32px;
//     top: -25px;
//     width: 145px;
//     height: 85px;
//   }

//   .header-right {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     right: 50px;

//     .notification-icon {
//       font-size: 18px;
//       color: #333;
//       margin-right: 20px;
//       cursor: pointer;
//     }

//     .user-info {
//       display: flex;
//       align-items: center;

//       .user-avatar {
//         width: 32px;
//         height: 32px;
//         border-radius: 50%;
//         overflow: hidden;
//         margin-right: 8px;

//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//         }
//       }

//       .username {
//         font-size: 16px;
//         color: #333;
//         font-weight: 400;
//       }
//     }
//   }
// }


// .header-right .user-info {
//   display: flex;
//   align-items: center;
// }

// .header-right .user-avatar {
//   margin-right: 10px; 
// }

// // .username {
// //   font-size: 14px; 
// //   color: #333; 
// //   font-weight: 400;    
// // }

.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
 

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-title {
    font-size: 24px;
    font-weight: 600;
    color: #0d1c2e;
    margin-top: 10px;
    text-transform: none;
   
  }
  .logo-img {
    // position: relative;
     //left: 5px;
    // top: -20px;
    width: 135px;
    margin-bottom: 25px;
    //height: 75px;
  }

  .header-right {
    display: flex;
    align-items: center;
   position: absolute;
    right: 20px;

    .notification-icon {
      font-size: 18px;
      color: #333;
      margin-right: 20px;
      cursor: pointer;
    }

    .user-info {
      display: flex;
      align-items: center;
      //gap: 12px;

      .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 200px;
        background: #F2F4F7;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          height: 20px;
          color: #475467;
        }
      }

      .user-details {
        .username {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #3D3D3D;
        }
}
    }
  }
}


.header-right .user-info {
  display: flex;
  align-items: center;
}

.header-right .user-avatar {
  margin-right: 10px; 
}

// .username {
//   font-size: 14px; 
//   color: #333; 
//   font-weight: 400;    
// }

